body{
  padding-top: 83px;
  margin: 0 auto;
  color: #1586c3;
  background-color: white;
}
li {
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
  color:inherit;
}
details {
  border: 1px solid #1586c3;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  color: #1586c3;
}

details[open] {
  padding: 0.5em;
  color: #1586c3;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
