body{
  padding-top: 83px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
  color:inherit;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
