body {
  margin: 0 auto;
  color: #1586c3;
  background-color: white;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

details {
  border: 1px solid #1586c3;
  border-radius: 4px;
  /*padding: 上 左右 下*/
  padding: 30px 30px 0;
  margin: 30px 30px;
}

summary {
  font-weight: bold;
  margin: -30px -30px 0;
  padding: 30px;
}

details[open] {
  padding: 30px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */