.hlogo {
    /*headerの高さ-2*2 */
    height: 76px;
    width: 155px;
    margin-top: 2px;
    object-fit: contain;
}

.twlogo {
    /*twitterロゴはMinimum width = 32pxの制限在り*/
    height: 32px;
    width: 32px;
    /* (headerの高さ-32px)/2 */
    margin-top: 24px;
}

.headnav {
    display: flex;
    margin: 0;
    line-height: 80px;
}

.headnav li {
    font-size: 16px;
    margin: 0 16px;
}

.Header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid lightblue;
    background-color: rgb(213, 248, 220);

    /* scroll */
    position: fixed;

    z-index: 10;
    top: 0;
    left: 0;
    right: 0;

}

/*要素が少ないときに下に配置されなくなるので要検討*/
/*position: fixed;を用いると常にページに表示されてしまう*/
.Footer {
    z-index: 900;
    background-color: lightblue;
    padding: 32px 4%;
    margin-top: 8px;
}

.flex {
    display: flex;
}

.ftitle h2 {
    margin: 0;
    margin-right: 120px;
}

.footnav {
    margin: 0;
    padding-left: 0;

}

.list {
    padding-bottom: 12px;
}

.list p {
    font-size: 12px;
    margin: 0;
}


.ficon {
    display: flex;
    padding: 12px 0;
    margin: 0;

}

.iconlist {
    padding: 0 16px;
}

.footer {
    display: block;
    text-align: center;
    font-size: 12px;
    margin: 8px;
}