.welcome {
    z-index: 1001;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    white-space: nowrap;
    overflow: hidden;
    /*appearアニメーションを2秒,その後disappearアニメーションを2秒*/
    /*disappearを変更する場合は.welcome_backも同様にしてください*/
    animation: welcome_appear 2s ease-in 0s 1 normal forwards, welcome_disapper 1s ease-in 2s 1 normal forwards;
}

.welcome_background {
    z-index: 1000;
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
    position: fixed;
    /*変更する場合は.welcomeも同様にしてください*/
    animation-name: welcome_disapper;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.welcome space {
    display: inline-block;
    margin: 0 0.5vw;
}

@keyframes welcome_appear {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes welcome_disapper {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.hometitle_container {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.hometitle {
    text-align: center;
    height: 100%;
    color: rgb(33, 94, 206);
}

.picture_container {
    position: relative;
    background-color: gray;
    width: 50%;
    height: 100vh;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.picture1 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: left top;
    opacity: 0;
    /*appearの50%経過でdisappearが動き出すように． 逆もしかり*/
    /*delayを負の値にすることでちらつきが解消されているので負の値で*/
    animation: picture_appear 8s linear -8s infinite normal none, picture_disappear 8s linear -4s infinite normal none;
}

.picture2 {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    opacity: 0;
    animation: picture_appear 8s linear -4s infinite normal none, picture_disappear 8s linear 0s infinite normal none;
}

/*アニメーション毎に遅延を入れるために重なっている処理*/
@keyframes picture_appear {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes picture_disappear {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}

@keyframes rotate {}