.welcome {
    z-index: 1001;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    white-space: nowrap;
    overflow: hidden;
    /*appearアニメーションを2秒,その後disappearアニメーションを2秒*/
    /*disappearを変更する場合は.welcome_backも同様にしてください*/
    animation: appear 2s ease-in 0s 1 normal forwards, disapper 2s ease-in 2s 1 normal forwards;
}

.welcome_back {
    z-index: 1000;
    background-color: aliceblue;
    height: 100vh;
    width: 100vw;
    position: fixed;
    /*変更する場合は.welcomeも同様にしてください*/
    animation-name: disapper;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.welcome span {
    display: inline-block;
    margin: 0 10px;
}

@keyframes appear {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes disapper {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}



.hometitle {
    margin: auto;
    text-align: center;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}

@keyframes rotate {}